
h3{
 padding-left: 20px;
}
#inputSearch{
	height:30px;
}
#addPatientForm{
  margin: 70px auto;
 }
.resultBlock{
  padding-top: 3px;
  margin: 3px;
}
.resultLabel{
font-style: inherit;
font-weight: bold;
}
.resultName{
font-style: italic;
}
.resultBlock:hover{
background-image: url('/resources/img/background.png');
background-repeat: repeat-x;

}
.resultRow{
line-height: 10px;
}
#PatientsForm{
  margin: 70px auto;
}
.autocompleteSearch{
   position:absolute;
   top:35px;
   left:758px;
   Z-INDEX:999;
   width: 287px;
   border:1px solid silver;
   background-color: white;
}
.formAdd{padding-left: 30px;}
select{height: 27px;}
body{
 background-position: 790px  200px;
}
p label{
 font-size: 18px;
 padding-bottom: 10px;
 height: 20px;
}
p input[type="text"]{
  height: 20px;
}

#addPatientForm .btn{ 
  margin-left: 620px;
}
.hederInfo{
margin-left: 50px;
padding-left: 50px;
font-size: 20px;
background-color: #f2f2f2;
width: 610px;
height: 30px;
}
#PatientsForm  .btn{
  margin-left: 620px;
}
.selected{
  background-image: url('/resources/img/background.png');
  background-repeat: repeat-x;
}
 .form-horizontal div.control-group{
margin-bottom: 5px;
}
.alertMessage{
position:fixed;
top:0px;
right:0px;
}
.PatientAll{
  margin-top: 100px;
}
.Names{
font-size: 18px;
color:#00ADCF;
}
.patientBlock{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
margin:1px 90px;
width: 600px;
padding: 3px;
border:1px solid #AAB6B6;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background-color: #FBFBFB; 
}
.boxValue{
color:#00ADCF;
}
.errorMessage{
color: red;
font-size: 15px;
}
.addEncounter{
 margin: 70px auto;


}
.addEncounter input.btn {
margin-left:600px;


}