<script type="text/x-jsrender" id="EncounterForm">
	
	<h3>Encoun Add</h3>
	<h4><p class="hederInfo">Patient name: {{:FirstName}} {{:LastName}}</p></h4>
	<form name="EncounterForm">
		<div class="form-horizontal">
			
			<div class="control-group">
				<label for="Diagnose" class="control-label">Diagnosis</label>
				<div class="controls">
					<input type="text" name="Diagnose" class="span7">
				</div>
			</div>
			<div class="control-group">
				<label for="Status" class="control-label">Status</label>
				<div class="controls">
					<input type="text" name="Status" class="span7">
				</div>
			</div>
			<div class="control-group">
				<label for="TimeIn" class="control-label">Time IN</label>
				<div class="controls">
					<input type="text" name="TimeIn" class="span7">
				</div>
			</div>
			<div class="control-group">
				<label for="TimeOut" class="control-label">Time Out</label>
				<div class="controls">
				<input type="text" name="TimeOut" class="span7">
				</div>
			</div>
		  <input class='btn btn-info' type="button" value='Add Encoutner'>
   		</div>
	</form>
</script>