<div id="navBarTemplate">

    <div class="navbar span11">
        <div class="navbar-inner">
            <a class="brand" href="#">
            <img class="logo" src="/resources/img/icon100X99.png" width='20' height='15' >
            Registration Application</a>
            <div class="navbar-form pull-left">
                <input id="inputSearch" name="inputSearch" type="text" class="span4" autocomplete="off">
                <button type="submit" id="searchBtn" class="btn">Search</button>
            </div>
            <ul class="nav">
                <li><a id="addPatient" href="#AddPatient">Add Patient</a></li>
                <li><a href="j_spring_security_logout"><i class="icon-user"></i> Logout</a></li>
            </ul>
        </div>
    </div>

</div>
