<script type="text/x-jsrender" id="EditForm">
    <div id="PatientsEditForm">
        <h3>Editing information of Patient<h3>
        <form name="editPatientForm">
            <div class="formAdd">
                    <p class="hederInfo">Patient Information<p>
                    <p><label>First Name
                       <input class="span8" type="text" name='FirstName' value={{:FirstName}}></label> 
                       <label>Last Name  
                       <input  class="span8" type="text" name="LastName" value={{:LastName}}></label></p>
                    <p class="labelSSN"><label>SSN:
                    <input class="span8" type="text" name="SSN" value={{:SSN}}></label></p>
                    <p class= "birthData"><label>Date birth:
                    <input class="span6" type="text" name="DateOfbirth" value={{:DateOfbirth}} > (dd/mm/year)</label></p>
                    <p class= "bloc1">
                        <label class="gender">
                            Gender 
                                <select class='span2' name="Gender">
                                    {{if Gender == 'man'}}
                                     <option selected value="man">Man</option>
                                    <option value="woman">Woman</option>
                                    {{/if}}
                                    {{if Gender === 'woman'}}
                                     <option value="man">Man</option>
                                    <option selected value="woman">Woman</option>
                                    {{/if}}
                                 </select>
                        </label>
                        <label class='Marital'>
                             Marital status  
                                <select class="span2" name="MaritalStatus">
                                    {{if MaritalStatus === 'single'}}
                                    <option selected value="single">Single</option>
                                    <option value="married">Married</option>
                                    {{/if}}
                                    {{if MaritalStatus === 'married'}}
                                    <option  value="single">Single</option>
                                    <option selected value="married">Married</option>
                                    {{/if}}
                                </select>
                        </label>
                    </p>
                    <p class="Race"><label>Race
                    <input class="span2" type="text" name="Race" value={{:Race}} ></label></p>
                    <p class="bloc2"><label class="Religion">Religion
                    <input class="span3" type="text" name="Religion" value={{:Religion}}></label>
                    <label class='Language'>Language:
                    <input class="span3" type="text" name="Language" value={{:Language}}></label></p>
            </div>

            <div class="formAdd">
                    <p class="hederInfo">Patient contacts</p>
                    <p><label class='Address'>Address
                    <input type="text" name="PatientAddress" value={{:PatientAddress}}></label></p>
                    <p><label class="City">City
                    <input type="text" name="PatientCity" value={{:PatientCity}}></label>
                    <label class="State">State
                    <input type="text" name="PatientState" value={{:PatientState}}></label>
                    </p>
                    <p><label class="Phone">Phone Number:
                     <input type="text" name="PatientPhone" value={{:PatientPhone}}></label>
                    <label class="Zip">Zip
                     <input type="text" name="PatientZip" value={{:PatientZip}}></label></p>
            </div>
            <div class="formAdd">
                    <p class="hederInfo">Employer contacts</p>
                    <p class='EmpName'><label>Employer name
                    <input type="text" name="EmployerName" value={{:EmployerName}}></label></p>
                    <p class='Address'><label>Address
                    <input type="text" name="EmployerAddress" value={{:EmployerAddress}}></label></p>
                    <p><label class="City">City <input type="text" name="EmployerCity" value={{:EmployerCity}}></label>
                    <label class="State">State <input type="text" name="EmployerState" value={{:EmployerState}}></label>
                    </p>
                    <p><label class="Phone">Phone Number:
                    <input type="text" name="EmployerPhone"value={{:EmployerPhone}} ></label>
                    <label class="Zip">Zip <input type="text" name="EmployerZip" value={{:EmployerZip}}></label></p>
            </div>

                    <input class='btn btn-info' type="button" value='Save change'>

        </form>
    </div>
         

</script>