<script type="text/x-jsrender" id="PatientForm">
    <div id="PatientsForm">
        <h3>Editing information of Patient</h3>
        <form name="PatientForm">
            <div class="form-horizontal">
                    <p class="hederInfo">Patient Information<p>
                    <div class="control-group">
                        <label class="control-label" for='FirstName' >First Name </label> 
                        <div class="controls">
                            <input class="span7" type="text" name='FirstName' value={{:FirstName}}>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for='LastName' >Last Name</label>
                        <div class="controls">
                            <input  class="span7" type="text" name="LastName" value={{:LastName}}>
                        </div>
                    </div>
                        <div class="control-group">
                        <label class="control-label" for="SSN">SSN:</label>
                        <div class="controls">
                            <input class="span7" type="text" name="SSN" value={{:SSN}}>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="DateOfbirth">Date birth:</label>
                        <div class="controls">
                            <input class="span7" type="text" name="DateOfbirth" value={{:DateOfbirth}} > 
                        </div>
                    </div>
                    <div class="control-group">
                    <label class="control-label">Gender </label>
                        <div class="controls">
                         <select class='span2' name="Gender">
                                    {{if Gender == 'man'}}
                                     <option selected value="man">Man</option>
                                    <option value="woman">Woman</option>
                                    {{/if}}
                                    {{if Gender === 'woman'}}
                                     <option value="man">Man</option>
                                    <option selected value="woman">Woman</option>
                                    {{/if}}
                                     {{if Gender === ''}}
                                      <option value="man">Man</option>
                                      <option  value="woman">Woman</option>
                                    {{/if}}
                                 </select>
                        </div>
                    </div>
                     <div class="control-group">
                        <label class='control-label'>Marital status </label>
                        <div class="controls">
                           <select class="span2" name="MaritalStatus">
                                        {{if MaritalStatus === 'single'}}
                                        <option selected value="single">Single</option>
                                        <option value="married">Married</option>
                                        {{/if}}
                                        {{if MaritalStatus === 'married'}}
                                        <option  value="single">Single</option>
                                        <option selected value="married">Married</option>
                                        {{/if}}
                                        {{if MaritalStatus === ''}}
                                        <option  value="single">Single</option>
                                        <option  value="married">Married</option>
                                        {{/if}}
                                    </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class='control-label' for="Race">Race</label>
                        <div class='controls'>
                             <input class="span7" type="text" name="Race" value={{:Race}} >
                        </div>
                    </div>
                     <div class="control-group">    
                        <label  class='control-label' for="Religion">Religion </label>
                        <div class='controls'>
                            <input class="span7" type="text" name="Religion" value={{:Religion}}>
                        </div>
                    </div>
                    <div class="control-group">    
                        <label class='control-label' for="Language">Language:</label>
                        <div class="controls">
                            <input class="span7" type="text" name="Language" value={{:Language}}>
                        </div>
                    </div>
            </div>

            <div class="form-horizontal">
                    <p class="hederInfo">Patient contacts</p>
                    <div class="control-group"> 
                        <label class='control-label' for='PatientAddress'>Address </label>
                        <div class='controls'>
                            <input class="span7"  type="text" name="PatientAddress" value={{:PatientAddress}}>
                        </div>
                    </div>

                    <div class="control-group"> 
                        <label class='control-label' for='PatientCity'>City </label>
                        <div class='controls'>
                             <input  class="span7" type="text" name="PatientCity" value={{:PatientCity}}>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class='control-label' for="PatientState" >State </label>
                        <div class="controls">
                             <input  class="span7" type="text" name="PatientState" value={{:PatientState}}>
                        </div>
                    </div>
                    <div class="control-group">
                         <label class='control-label' for="PatientPhone">Phone Number:</label>
                         <div class='controls'>
                              <input class="span7"  type="text" name="PatientPhone" value={{:PatientPhone}}>
                        </div>
                    </div>
                    <div class="control-group">
                         <label class='control-label'>Zip </label>
                         <div class='controls'>
                             <input  class="span7" type="text" name="PatientZip" value={{:PatientZip}}>
                         </div>
                    </div>
                                       
                   
            </div>
            <div class="form-horizontal">
                    <p class="hederInfo">Employer contacts</p>
                     <div class="control-group">
                         <label  class='control-label'>Employer name </label>
                         <div class='controls'>
                             <input class="span7"  type="text" name="EmployerName" value={{:EmployerName}}>
                         </div>
                     </div>
                     <div class="control-group">
                          <label class='control-label'>Address </label>
                          <div class="controls">
                              <input class="span7"  type="text" name="EmployerAddress" value={{:EmployerAddress}}>
                          </div>
                     </div>
                     <div class="control-group">
                          <label class='control-label'>City </label>
                          <div class='controls'>
                              <input class="span7"  type="text" name="EmployerCity" value={{:EmployerCity}}>
                          </div>
                    </div>
                    <div class="control-group">
                          <label class='control-label'>State </label>
                          <div class='controls'>
                              <input class="span7"  type="text" name="EmployerState" value={{:EmployerState}}>
                          </div>
                    </div>
                    <div class="control-group">
                          <label class='control-label'>Phone Number: </label>
                          <div class='controls'>
                              <input class="span7"  type="text" name="EmployerPhone"value={{:EmployerPhone}} >
                          </div>
                    </div>
                                     
                    <div class="control-group">
                          <label class='control-label' for="EmployerZip">Zip </label>
                          <div class='controls'>
                              <input class="span7"  type="text" name="EmployerZip" value={{:EmployerZip}}>
                          </div>
                    </div>
           </div>

                    <input class='btn btn-info' type="button" value='Save change'>

        </form>
    </div>
         

</script>