<div id="PatientsForm">
    <h3>Registration New Patient<h3>
    <form name='addPatientForm'>
        <div class="formAdd">
                <p class="hederInfo">Patient Information<p>
                <p><label>First Name <input class="span8" type="text" name='FirstName'></label> 
                   <label>Last Name  <input  class="span8" type="text" name="LastName"></label></p>
                <p class="labelSSN"><label>SSN:       <input class="span8" type="text" name="SSN"></label></p>
                <p class= "birthData"><label>Date birth:<input class="span6" type="text" name="DateOfbirth"> (dd/mm/year)</label></p>
                <p class= "bloc1">
                    <label class="gender">
                        Gender 
                            <select class='span2' name="Gender">
                                <option value="man">Man</option>
                                <option value="woman">Woman</option>
                            </select>
                    </label>
                    <label class='Marital'>
                         Marital status  
                            <select class="span2" name="MaritalStatus">
                                <option value="single">Single</option>
                                <option value="married">Married</option>
                            </select>
                    </label>
                </p>
                <p class="Race"><label>Race <input class="span2" type="text" name="Race" ></label></p>
                <p class="bloc2"><label class="Religion">Religion <input class="span3" type="text" name="Religion"></label>
                   <label class='Language'>Language:<input class="span3" type="text" name="Language"></label></p>
        </div>

        <div class="formAdd">
            <p class="hederInfo">Patient contacts</p>
            <p><label class='Address'>Address <input type="text" name="PatientAddress"></label></p>
            <p><label class="City">City <input type="text" name="PatientCity"></label>
               <label class="State">State <input type="text" name="PatientState"></label>
             </p>
             <p><label class="Phone">Phone Number: <input type="text" name="PatientPhone"></label>
             <label class="Zip">Zip <input type="text" name="PatientZip"></label></p>
        </div>
        <div class="formAdd">
            <p class="hederInfo">Employer contacts</p>
            <p class='EmpName'><label>Employer name <input type="text" name="EmployerName"></label></p>
            <p class='Address'><label>Address <input type="text" name="EmployerAddress"></label></p>
            <p><label class="City">City <input type="text" name="EmployerCity"></label>
               <label class="State">State <input type="text" name="EmployerState"></label>
             </p>
             <p><label class="Phone">Phone Number: <input type="text" name="EmployerPhone"></label>
             <label class="Zip">Zip <input type="text" name="EmployerZip"></label></p>
        </div>


    </div>
        <input class='btn btn-info' type="button" value='Add Patient'>

    </form>






</div>