<div id="PatientsForm">
    <h3>Registration New Patient</h3>
    <form name='addPatientForm'>
        <div class="form-horizontal">
                <p class="hederInfo">Patient Information<p>
                <div class="control-group">
                    <label class="control-label" for='FirstName' >First Name </label> 
                    <div class="controls">
                    <input class="span7" type="text" name='FirstName'>
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for='LastName' >Last Name</label>
                    <div class="controls">
                       <input  class="span7" type="text" name="LastName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="SSN">SSN:</label>
                    <div class="controls">
                        <input class="span7" type="text" name="SSN">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="DateOfbirth">Date birth:</label>
                    <div class="controls">
                        <input class="span7" type="text" name="DateOfbirth">
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label">Gender </label>
                        <div class="controls">
                         <select class='span2' name="Gender">
                                    <option value="man">Man</option>
                                    <option value="woman">Woman</option>
                        </select>
                        </div>
                </div>
                <div class="control-group">
                    <label class='control-label'>Marital status </label>
                    <div class="controls">
                        <select class="span2" name="MaritalStatus">
                                    <option value="single">Single</option>
                                    <option value="married">Married</option>
                        </select>
                    </div>
                </div>
                  <div class="control-group">
                    <label class='control-label' for="Race">Race</label>
                    <div class='controls'>
                        <input class="span7" type="text" name="Race" >
                    </div>
                </div>
                <div class="control-group">    
                    <label  class='control-label' for="Religion">Religion </label>
                    <div class='controls'>
                        <input class="span7" type="text" name="Religion">
                    </div>
                </div>
                <div class="control-group">    
                    <label class='control-label' for="Language">Language:</label>
                    <div class="controls">
                        <input class="span7" type="text" name="Language">
                    </div>
                </div>
               
        </div>
        <div class="form-horizontal">
            <p class="hederInfo">Patient contacts</p>

             <div class="control-group"> 
                <label class='control-label' for='PatientAddress'>Address </label>
                <div class='controls'>
                    <input class="span7" type="text" name="PatientAddress">
                </div>
            </div>
            <div class="control-group"> 
                <label class='control-label' for='PatientCity'>City </label>
                    <div class='controls'>
                        <input class="span7" type="text" name="PatientCity">
                    </div>
                </div>
            <div class="control-group">
                <label class='control-label' for="PatientState" >State </label>
                <div class="controls">
                    <input class="span7" type="text" name="PatientState">
                </div>
            </div>
            <div class="control-group">
                 <label class='control-label' for="PatientPhone">Phone Number:</label>
                 <div class='controls'>
                     <input class="span7" type="text" name="PatientPhone">
                </div>
            </div>
            <div class="control-group">
                 <label class='control-label'>Zip </label>
                 <div class='controls'>
                    <input class="span7" type="text" name="PatientZip">
                 </div>
            </div>
        </div>
        <div class="form-horizontal">
            <p class="hederInfo">Employer contacts</p>
            <div class="control-group">
                <label  class='control-label'>Employer name </label>
                <div class='controls'>
                    <input class="span7" type="text" name="EmployerName">
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Address </label>
                <div class="controls">
                    <input class="span7" type="text" name="EmployerAddress">
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>City </label>
                <div class='controls'>
                    <input class="span7" type="text" name="EmployerCity">
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>State </label>
                <div class='controls'>
                    <input class="span7" type="text" name="EmployerState">
                </div>
            </div>
            <div class="control-group">
                <label class='control-label'>Phone Number: </label>
                <div class='controls'>
                    <input class="span7" type="text" name="EmployerPhone">
                </div>
            </div>
           <div class="control-group">
                <label class='control-label' for="EmployerZip">Zip </label>
                <div class='controls'>
                    <input class="span7" type="text" name="EmployerZip">
                </div>
            </div>
        </div>


    </div>
        <input class='btn btn-info' type="button" value='Add Patient'>

    </form>






</div>