<script type='text/template' id='showPatient'>
<div class="PatientInfo">
        <div class="row">
            <div class="span9">
             <h3 class="headerBlock"><img  class="imgButton"src="/resources/img/PatientData.png"/> Patient:  {{:FirstName}} {{:LastName}} 
             </h3>
              <div class='row headerBodred'>
                          <div class="span4 ">
                              <dl class="dl-horizontal">
                                <dt>Patinet name:</dt> <dd>{{:FirstName}} {{:LastName}}</dd>
                                <dt>SSN: </dt><dd>{{:SSN}}</dd>
                                <dt>Data Of birth: </dt><dd>{{:DateOfbirth}}</dd>
                                <dt>Gender: </dt><dd>{{:Gender}}</dd>
                                <dt>Marital Status: </dt><dd>{{:MaritalStatus}}</dd>
                                <dt>Race: </dt><dd>{{:Race}}</dd>
                                <dt>Peligion:</dt><dd>{{:Religion}}</dd>
                                <dt>Language</dt><dd>{{:Language}}</dd>
                                <dt>Patient Phone</dt><dd>{{:PatientPhone}}</dd>
                              </dl>
                          </div>
                          <div class="span4">
                              <dl class="dl-horizontal">
                            <dt>Patient Address:</dt><dd>{{:PatientAddress}}</dd>
                            <dt>Patient City:</dt><dd>{{:PatientCity}}</dd>
                            <dt>Patient State:</dt><dd>{{:PatientState}}</dd>
                            <dt>Patient Zip:</dt><dd>{{:PatientZip}}</dd>
                            <dt>Employer Name:</dt><dd>{{:EmployerName}}</dd>
                            <dt>Employer Address:</dt><dd>{{:EmployerAddress}}</dd>
                            <dt>Employer City:</dt><dd>{{:EmployerCity}}</dd>
                            <dt>Employer State:</dt><dd>{{:EmployerState}}</dd>
                            <dt>Employer Zip:</dt><dd>{{:EmployerZip}}</dd>
                            <dt>Employer Phone:</dt><dd>{{:EmployerPhone}}</dd>
                            </dl>
                          </div>
              </div>
            </div>
      </div>
           <div class="row">
              <div  class="span9">
                <h3 class="headerBlock"><img  class="imgButton"src="/resources/img/ChronologicalReview.png"/> Encounters </h3>
                  <div class="pull-right addButton"><button id="addEncountersBtn" class="btn"><i class='icon-plus'></i></button></div>
                  <div class=" headerBodred">
                      <div class="addEncouters">
                          <h4 class="formHeader">Encoun Add</h4>
                              <form name="EncounterForm">
                                <div class="form-horizontal">
                                        <div class="control-group">
                                          <label for="Diagnose" class="control-label">Diagnosis</label>
                                          <div class="controls">
                                            <input type="text" name="Diagnose" class="span6">
                                            <div class='validateMessage'></div>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label for="Status" class="control-label">Status</label>
                                          <div class="controls">
                                            <input type="text" name="Status" class="span6">
                                            <div class='validateMessage'></div>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label for="TimeIn" class="control-label">Time IN</label>
                                          <div class="controls">
                                            <input id="TimeIn" type="text" name="TimeIn" class="span6">
                                            <div class='validateMessage'></div>
                                          </div>
                                        </div>
                                        <div class="control-group">
                                          <label for="TimeOut" class="control-label">Time Out</label>
                                          <div class="controls">
                                          <input id="TimeOut" type="text" name="TimeOut" class="span6">
                                            <div class='validateMessage'></div>
                                          </div>
                                        </div>
                                  <input id="sendEncounters" class='btn btn-info buttons' type="button" value='Add Encoutner'/>
                              </div>
                           </form>
                      </div>
                      <table id="encountersTab" class="table table-striped">
                      <tr><th>Diagnosis</th><th>Status:</th><th>TimeIn:</th><th>TimeOut</th><th class="appImg">Appointments</th></tr>

                      </table>
                  </div>
              </div>
          </div>
      
        
   
</div>



</script>