<script type="text/x-jsrender" id="SinglePatientBlock">
	  		<p class="Names"><span class="resultLabel">Patient name:</span><span class="boxValue"> {{:FirstName}}  {{:LastName}}</span></p>
	  		<p class="resultRow"><span class="resultLabel">Date Of Birth:</span><span class="boxValue">{{:DateOfbirth}}</span>
	  		<span class="resultLabel">Gender:</span><span class="boxValue">{{:Gender}}</span></p>
    		<p class="resultRow"><span class="resultLabel">SSN:</span><span class="boxValue">{{:SSN}}</span></p>
    		<p class="resultRow"><span class="resultLabel">Phone Number:</span ><span class="boxValue"> {{:PatientPhone}}</span> </p>
</script>

